<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!--change password-->
    <div class="admin-header">
      <a href="#" id="menu-action">
      <i class="fa fa-bars"></i>
      <span>Close</span>
      </a>
      <div class="logo">
        <a href="index.html">
        <img src="assets/img/tios.png" alt="Logo">
        </a> 
      </div>
    </div>
    <div class="sidebar">
      <ul>
        <li><a href="edit-profile.html"><i class="fa fa-user"></i><span>User</span></a></li>
        <li><a href="history.html"><i class="fa fa-history"></i><span>History</span></a></li>
        <li><a href="change-password.html"><i class="fa fa-key"></i><span>Change Password</span></a></li>
      </ul>
    </div>
    <!-- Content -->
    <div class="main ">
      <div class="profile-card ">
        <div class="container">
          <!--form start-->
          <div class="col-lg-5 m-auto pt-30 pb-30">
            <div class="contact-wrapper">
              <header class="login-cta">
                <h2>Change password</h2>
              </header>
              <form>
                <div class="form-group ">
                  <label>Old Password<sup>*</sup>
                  </label>
                  <div class="form-group__content">
                    <input class="form-control" type="password" id="password-field">
			
                  </div>
                </div>
                <div class="form-group ">
                  <label>New Password<sup>*</sup>
                  </label>
                  <div class="form-group__content">
                    <input class="form-control" type="password" id="password-field">
				</div>
                </div>
                  <div class="form-group ">
                  <label><a href="#">Forgot Password?! Send Code </a>
                  </label>
                </div>
                <div class="form-group col-md-12">
                  <button type="button" class="btn edit-submit">Submit</button>
                </div>
            </form>
          </div>
        </div>
      </div>
        </div></div>
    <!--change password-->
    <!--All js cdn-->
    <script src="assets/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/owl.carousel.min.js"></script>
    <script src="assets/js/custom.js"></script>

    <script type="text/javascript">
      window.addEventListener("scroll", function(){
        var nav = document.querySelector("nav");
        nav.classList.toggle("sticky", window.scrollY > 0);
      })
    </script>
  </body>
</html>