<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html">
      <img src="assets/img/tios.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item active">
          <a class="nav-link" href="product.html">Shop <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="all-samples-page-1.html">Try first</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="all-collaction.html"> Collections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="all-sample-brand.html">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About Us</a>
        </li>
      </ul>
      <div class="nav-r form-inline my-2 my-lg-0" id="mobile-search">
        <div class="collections-btn">
          <a href="#" class="common-btn">5  tios points</a>
        </div>
        <ul>
          <li>
            <a href="#" class="search-toggle">
              <img src="./assets/img/search.png" class=" search-icon icon-search" alt="">
              <div class="search-box-wrap">
                <div class="searchform" role="search">
                  <form>
                    <input type="text" name="q" id="search-terms" placeholder="Search..." class="search-field">
                    <input type="submit" class="search-submit default-btn" value="submit">
                  </form>
                </div>
              </div>
            </a>
          </li>
          <li><a href="login.html"><img src="./assets/img/Icon.png" alt=""></a></li>
          <li><a href="view-cart.html"><img src="./assets/img/cart.png" alt=""></a></li>
        </ul>
      </div>
	   </div>
    </nav>
    <!--navbar end-->

<div class="breadcrumb-area">
   <div class="container">
      <div class="breadcrumb-wrap text-center">
         <h2 class="page-title">Privacy Policy</h2>
         <ul class="breadcrumb-pages">
            <li class="page-item"><a class="page-item-link" href="index.html">Home</a></li>
            <li class="page-item">Privacy Policy</li>
         </ul>
      </div>
   </div>
</div>
<!--Privacy Policy-->

<div class="privacy-policy-area pt-30 pb-30">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-4">
            <div class="page-menu-wrap">
              <ul class="menu-items">
                  <li class="menu-item active"><a class="menu-link" href="terms-and-conditions.html">
				  <i class=" menu-icon fa fa-file-text"></i>Term Conditions</a>
				  </li>
                  <li class="menu-item active"><a class="menu-link" href="privacy-policy.html"><i class="menu-icon fa fa-file-text"></i>Privacy Policy</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-9 col-md-8">
            <div class="privacy-policy-info">
               <div class="single-privacy-policy">
                  <h3 class="privacy-policy-title">Collecting Personal Information</h3>
                  <p class="privacy-policy-text">Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue  eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula .</p>
                  <ul class="privacy-feature">
                     <li class="feature-item"><strong class="feature-title">Examples of Personal Information collected:</strong> Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. <a href="#" class="feature-link">http://tios.com</a> consectetur adipiscing rutrum congue</li>
                     <li class="feature-item"><strong class="feature-title">Purpose of collection:</strong> Vivamus suscipit tortor eget felis volutpat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</li>
                     <li class="feature-item"><strong class="feature-title"> Source of collection: </strong>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem ipsum dolor sit amet</li>
                     <li class="feature-item"><strong class="feature-title">Disclosure for a business purpose:</strong>  Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem ipsum dolor sit amet, leo eget malesuada. <a href="#" class="feature-link">http://tios.com</a>. non nulla sit amet nisl tempus quis ac lectus.</li>
                  </ul>
               </div>
         
           
       
            </div>
         </div>
      </div>
   </div>
</div>

<!---Privacy Policy end-->








    <!-- Footer -->
    <footer class=" footer-area">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="footer-logo">
    <a href="index.html">
    <img src="assets/img/tios.png">
    </a>
    </div>
    <div class="footer-about">
    <p>The idea of a sustianable world.</p>
    <p>Making a diiference in the world - by <br>switching to one sustaibale order at a time.</p> 
    <p>Brining everything sustainable in the world under one roof.</p>
    </div>
    </div>
    <div class="col-lg-2">
    <div class="footer-important-link">
    <h6 class="text-uppercase font-weight-bold">About</h6>
    <ul class="list-unstyled mb-0">
    <li class="mb-2"><a href="#" class="text-muted">Vision</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Team</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Careers</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Blogs</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Supply Chain</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Packaging</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Become a seller with us</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-2">
    <div class="footer-important-link">
    <h6 class="text-uppercase font-weight-bold">Products</h6>
    <ul class="list-unstyled mb-0">
    <li class="mb-2"><a href="#" class="text-muted">Collections</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Categories</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Brands</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-2">
    <div class="footer-important-link">
    <ul class="footer-social-icon">
    <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
    <li><a href="#"><i class="fa fa-whatsapp"></i>Whatsapp</a></li>
    <li><a href="#"><i class="fa fa-twitter"></i> Facebook</a></li>
    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li><a href="#"><i class="fa fa-youtube-play"></i> Youtube</a></li>					  
    </ul>
    </div>
    </div>
    </div>
    </div>
    </footer>
    <!-- Copyrights -->
    <section class="copy-right-footer">
    <div class="container">
    <div class="row">
    <div class="footer-copy-right-text col-md-8">
    <p class="text-muted">© 2021 Developed by AanaxagorasR </p>
    </div>
    <div class="footer-trems col-md-4">
    <div class="term ">
    <h4><a href="#">Terms & Conditions</a></h4>
    <h4><a href="#">Privacy Policy</a></h4> 
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <!--All js cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/owl.carousel.min.js"></script>
    <script src="assets/js/custom.js"></script>

    <script type="text/javascript">
      window.addEventListener("scroll", function(){
        var nav = document.querySelector("nav");
        nav.classList.toggle("sticky", window.scrollY > 0);
      })
    </script>
  </body>
</html>

