<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tios</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="assets/css/bootstrap.min.css"> 
<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	 <link rel="stylesheet" href="assets/css/owl.theme.default.css">
  <link rel="stylesheet" href="assets/css/style.css">  
   <link rel="stylesheet" href="assets/css/responsive.css">  
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html">
  <img src="assets/img/tios.png" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav m-auto">
    <li class="nav-item active">
      <a class="nav-link" href="product.html">Shop <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="all-samples-page-1.html">Try first</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="all-collaction.html"> Collections</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="all-sample-brand.html">Brands</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="about.html">About Us</a>
    </li>
  </ul>
  <div class="nav-r form-inline my-2 my-lg-0" id="mobile-search">
    <div class="collections-btn">
      <a href="#" class="common-btn">5  tios points</a>
    </div>
    <ul>
      <li>
        <a href="#" class="search-toggle">
          <img src="./assets/img/search.png" class=" search-icon icon-search" alt="">
          <div class="search-box-wrap">
            <div class="searchform" role="search">
              <form>
                <input type="text" name="q" id="search-terms" placeholder="Search..." class="search-field">
                <input type="submit" class="search-submit default-btn" value="submit">
              </form>
            </div>
          </div>
        </a>
      </li>
      <li><a href="login.html"><img src="./assets/img/Icon.png" alt=""></a></li>
      <li><a href="view-cart.html"><img src="./assets/img/cart.png" alt=""></a></li>
    </ul>
  </div>
 </div>
</nav>

<!--navbar end-->

<!--product-frams-->
<section class="product-frams pt-30 pb-30">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="frams-group">
<div class="frams-logo">
<figure><img src="assets/img/frams-logo.png"></figure>
</div>

<div class="frams-title">
<h4>By Anveshan Farms</h4>
<p>An initiative to empower indian farmers</p>
</div>
</div>



<div class="frams-content">
<p>Three young graduates from IIT Guwahati - Aayushi Khandelwal, Akhil Kansal, and Kuldeep Parewa; started the Anveshan revolution when they witnessed first-hand the duress of farmers at Kuldeep's ancestral village. Driven by a desire to help Indian farmers alleviate their financial hardships and enrich their lives, Anveshan strives to empower farmers to add value to their produce and democratize access to resources and markets.</p>


<!--<div class="collections-btn" id="sapmple-btn">
<a href="#" class="common-btn">Know more about Anveshan farms</a>
</div>-->
</div>

</div>

<div class="col-md-6">
<div class="frams-image">
<img src="assets/img/farms-1.png" alt="frams-1">
</div>
</div>
</div>

</div>
</section>

<!--product-frams end-->

<!--about honey-->
<section class="about-honey pt-30 pb-30">
<div class="container py-4">
<div class="row">
<div class="col-md-12">
<div class="suppiler-heading">
<h3>founders and their story</h3>
</div>
</div>
<div class="col-md-12 my-3">
<p>Our Forest Honey is collected from these giant honey bees, the Apis Dorsata. It is the collection of Pench Forest, Kanha Forest and Melghat Forest located in central India. Apis Dorsata are the indigenous Honey Bees, also called as the Rock Bees, native only to south east Asia. They built natural hives in Forest and there is no human interference involved in the honey collected by these indigenous honey bees. </p>
</div>

<div class="col-md-3">
<div class="honey-card">
<figure><img src="assets/img/ch-1.png" alt="ch-1"></figure>

<div class="honey-card-details">
   <h4>Collection</h4>
  </div>
</div>

</div>

<div class="col-md-3">
<div class="honey-card">
<figure><img src="assets/img/ch-1.png" alt="ch-1"></figure>

<div class="honey-card-details">
   <h4>Collection</h4>
  </div>
</div>

</div>

<div class="col-md-3">
<div class="honey-card">
<figure><img src="assets/img/ch-1.png" alt="ch-1"></figure>

<div class="honey-card-details">
   <h4>Collection</h4>
  </div>
</div>

</div>

</div>
</div>

</section>

<!--about honey end-->










  <!--trending-->
<section class="trending-product pt-30 pb-30 mt-5">
<div class="container">
<div class="row">
<div class="col-md-12">
  <div class="curated-collections-heading">
    <h3><span class="normal-style">Curated</span> collections</h3>
    <span>HANDPICKED products in each COLLECTION</span>
  </div>
</div>

<div class="col-md-12 my-5">
<div class="owl-carousel carousel-main">
<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/sample-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style"></span>cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>




<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/trending-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>




<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/trending-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>



<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/trending-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>



<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/trending-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>



<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/trending-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>



<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/trending-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>

</div>
</div>


</div>
</div>
</section>
<!--end trending-->

<!--try sample-->
<section class="try-samples pt-30 pb-30">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <div class="try-samples-heading" id="home-try">
      <span class="star-logo">
        <h3>try samples</h3>
        <figure>
          <img src="assets/img/star.png" alt="star">
        </figure>
      </span>
      <span>Use your TIOS POINTS to try samples</span>
    </div>
  </div>
  <div class="col-md-3 my-3">
    <div class="collections-btn" id="sapmple-btn">
      <a href="all-sample-product.html" class="common-btn"><span class="normal-style">view all</span> <span class="common-btn-normal ml-0">Free sample</span></a>
    </div>
  </div>

<!--carousel start-->
<div class="col-md-12 my-5">
<div class="owl-carousel carousel-main">

<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/sample-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>



<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/sample-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>




<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/sample-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>



<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/sample-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>

<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/sample-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>


<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/sample-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>

<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/sample-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>

</div>
</div>
</div>

</div>
</section>
<!--try sample end-->


<!--testimonial  -->
<section class="testimonial pt-30 pb-30">
  <div class="container">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
  <div class="carousel-item active">
  <div class="carousel-caption  d-md-block">
  <h5>It was so difficult for me to make choice for all my sustainable shopping needs. Tiosworld has done the hard part of me. Plus i’am hooked to using free samples now...Read More</h5>
  <p>SAKSHI AGARWAL  02 • 02 • 22</p><br>
  <a href="#" class="common-btn"><span class="normal-style">write your review about us</span></a>
  </div>
  </div>
  <div class="carousel-item">
  <div class="carousel-caption  d-md-block">
  <h5>It was so difficult for me to make choice for all my sustainable shopping needs. Tiosworld has done the hard part of me. Plus i’am hooked to using free samples now...Read More</h5>
  <p>SAKSHI AGARWAL  02 • 02 • 22</p><br>
  <a href="#" class="common-btn"><span class="normal-style">write your review about us</span></a>
  </div>
  </div>
  <div class="carousel-item">
  <div class="carousel-caption  d-md-block">
  <h5>It was so difficult for me to make choice for all my sustainable shopping needs. Tiosworld has done the hard part of me. Plus i’am hooked to using free samples now...Read More</h5>
  <p>SAKSHI AGARWAL  02 • 02 • 22</p><br>
  <a href="#" class="common-btn"><span class="normal-style">write your review about us</span></a>
  </div>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
  <span class="carousel-control fa fa-long-arrow-left" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
  <span class="carousel-control fa fa-long-arrow-right" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
  </button>
  </div>
  </div>
  </div>
  </section>
<!--testimonial end -->




<!--testimonial 2 -->
<section class="testimonial pt-30 pb-30" id="testimonial-2">
<div class="container">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption  d-md-block">
        <h5>It was so difficult for me to make choice for all my sustainable shopping needs. Tiosworld has done the hard part of me. Plus i’am hooked to using free samples now...Read More</h5>
        <p>SAKSHI AGARWAL  02 • 02 • 22</p><br>

      </div>
    </div>
    <div class="carousel-item">
    
     <div class="carousel-caption  d-md-block">
        <h5>It was so difficult for me to make choice for all my sustainable shopping needs. Tiosworld has done the hard part of me. Plus i’am hooked to using free samples now...Read More</h5>
        <p>SAKSHI AGARWAL  02 • 02 • 22</p><br>

      </div>
    </div>
    <div class="carousel-item">
  
     <div class="carousel-caption  d-md-block">
        <h5>It was so difficult for me to make choice for all my sustainable shopping needs. Tiosworld has done the hard part of me. Plus i’am hooked to using free samples now...Read More</h5>
        <p>SAKSHI AGARWAL  02 • 02 • 22</p><br>

      </div>
    </div>
	
 <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
    <span class="carousel-control fa fa-long-arrow-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
    <span class="carousel-control fa fa-long-arrow-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
  </div>
 
</div>
</div>
</section>
<!--testimonial 2 end -->



  <!--trending-->
<section class="trending-product pb-30 ">
<div class="container">
<div class="row">
<div class="col-md-12 my-5">
<div class="trending-samples-heading">
<h4>other <em>products</em></h4>
<span>ALL HONEYS ON TIOSWORLD</span>
</div>
</div>



<div class="col-md-3 ">
<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/sample-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>
</div>


<div class="col-md-3">
<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/trending-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>
</div>


<div class="col-md-3">
<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/trending-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>
</div>

<div class="col-md-3">
<div class="sample-card">
<div class="sample-logo">
<img src="assets/img/sapmple-logo.png" alt="sample-1">
</div>
<div class="sample-card-image">
<img src="assets/img/trending-1.png" alt="sample-1" class="sample-image">
</div>

<div class="sample-content">
<h4>Bamboo toothbrush</h4>
<p>Pack of 1 Rs. 80 1 tios points</p>
</div>
<div class="sample-footer">
<div class="cart-group">
      <p><a href="view-cart.html">Add to <span class="it-style">cart</span></a></p>
      <span> <a href="wishlist.html"><img src="./assets/img/heart.png" alt=""></a></span>
    </div>
</div>
</div>
</div>

</div>

</div>
</section>
<!--end trending-->

<!--projects-->
<section class=" projects pt-30 ">

<div class="container">
<div class="row">
<div class="col-md-12">
<div class="projects-heading  pt-20 pb-20">
<h2>@tios.world</h2>
<span class="recent-amazone-right-heading bg-white">
11.5k+ followers on Instagram
 <img src="assets/img/insta-2.png">
  </span>
</div>
</div>
</div>

</div>

            <div class="projects-list">
                 <a href="#" class="projects-item">
                    <div class="projects-item-image">
                        <picture class="picture image-cover">
                         <img src="assets/img/Instagram5.png">
                         
                        </picture>
                    </div>
                 
                </a>
                 <a href="#" class="projects-item">
                    <div class="projects-item-image">
                        <picture class="picture image-cover">
                          <img src="assets/img/Instagram4.png">
                         
                        </picture>
                    </div>
                 
                </a>
                <a href="#" class="projects-item">
                    <div class="projects-item-image">
                        <picture class="picture image-cover">
                  <img src="assets/img/Re-2.png">
                         
                        </picture>
                    </div>
                 
                </a>
                 <a href="#" class="projects-item">
                    <div class="projects-item-image">
                        <picture class="picture image-cover">
                         <img src="assets/img/Rc-3.png">
                         
                        </picture>
                    </div>
                 
                </a>
                 <a href="#" class="projects-item">
                    <div class="projects-item-image">
                        <picture class="picture image-cover">
                         <img src="assets/img/Rc-4.png">
                         
                        </picture>
                    </div>
                 
                </a>
                <a href="#" class="projects-item">
                    <div class="projects-item-image">
                        <picture class="picture image-cover">
                 <img src="assets/img/Rc-5.png">
                         
                        </picture>
                    </div>
                 
                </a>
            </div>

        </section>

<!--project end-->


<section class="bpt-30 pt-30 ">
<div class="container">
<div class="row py-4">
  <div class="col-md-9">
    <div class="try-samples-heading" id="partners-heading">
      <h3><span class="normal-style">trusted</span> partners</h3>
      <span>CURATED <span class="it-style">156 BRANDS</span> FOR YOU</span>
    </div>
  </div>
  <div class="col-md-3 my-3">
    <div class="collections-btn" id="sapmple-btn">
      <a href="all-sample-product.html" class="common-btn"><span class="normal-style">view all</span> <span class="it-style ml-0"> brands</span></a>
    </div>
  </div>

<div class="col-md-12 my-3">
<div class="row">
<div class="col col1">
<div class="barnd-logo">
<img src="assets/img/brand-logo.png" alt="sample-1">
</div>
</div>


<div class="col col2">
<div class="barnd-logo">
<img src="assets/img/brand-logo.png" alt="sample-1">
</div>
</div>


<div class="col col2">
<div class="barnd-logo">
<img src="assets/img/brand-logo.png" alt="sample-1">
</div>
</div>



<div class="col col2">

<div class="barnd-logo">
<img src="assets/img/brand-logo.png" alt="sample-1">
</div>
</div>



<div class="col col2">
<div class="barnd-logo">
<img src="assets/img/brand-logo.png" alt="sample-1">
</div>
</div>
</div>
</div>

<!--2nd colom-->
<div class="col col2">
<div class="barnd-logo">
<img src="assets/img/brand-logo.png" alt="sample-1">
</div>
</div>

<div class="col col2">
<div class="barnd-logo">
<img src="assets/img/brand-logo.png" alt="sample-1">
</div>
</div>

<div class="col col2">
<div class="barnd-logo">
<img src="assets/img/brand-logo.png" alt="sample-1">
</div>
</div>


<div class="col col2">
<div class="barnd-logo">
<img src="assets/img/brand-logo.png" alt="sample-1">
</div>
</div>

<div class="col col2">
<div class="barnd-logo">
<img src="assets/img/brand-logo.png" alt="sample-1">
</div>
</div>


</div></div>
</section>

<!--brand logo end-->


<section class="curated-collections pt-30 pb-30">
  <div class="container">
    <div class="row">
      <div class="col-md-9 my-5">
        <div class="curated-collections-heading">
          <h3><span class="normal-style">Curated</span> collections</h3>
          <span>HANDPICKED products in each COLLECTION</span>
        </div>
      </div>
      <div class="col-md-3  my-5">
        <div class="collections-btn">
          <a href="all-samples-page-1.html" class="common-btn"><span class="normal-style">view all</span> collections</a>
        </div>
      </div>

    <div class="col-lg-3">
      <div class="block-1">
        <div class="col-lg-12">
          <div class="collection-card-custom">
            <h4>Toothbrushes</h4>
            <img src="assets/img/collaction-1.png">
            <button class="btn-collection">View <span class="it-style">products</span></button>

          </div>
        </div>
        <div class="col-lg-12">
          <div class="collection-card-custom">
            <h4>Toothbrushes</h4>
            <img src="assets/img/collaction-1.png">
            <button class="btn-collection">View <span class="it-style">products</span></button>

          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="block-2">
        <div class="col-lg-12">
          <div class="collection-card-custom">
            <h4>Toothbrushes</h4>
            <img src="assets/img/collaction-1.png">
            <button class="btn-collection">View <span class="it-style">products</span></button>

          </div>
        </div>
        <div class="col-lg-12">
          <div class="collection-card-custom">
            <h4>Toothbrushes</h4>
            <img src="assets/img/collaction-1.png">
            <button class="btn-collection">View <span class="it-style">products</span></button>

          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="block-3">
        <div class="col-lg-12">
          <div class="collection-card-custom">
            <h4>Toothbrushes</h4>
            <img src="assets/img/collaction-1.png">
            <button class="btn-collection">View <span class="it-style">products</span></button>

          </div>
        </div>
        <div class="col-lg-12">
          <div class="collection-card-custom">
            <h4>Toothbrushes</h4>
            <img src="assets/img/collaction-1.png">
            <button class="btn-collection">View <span class="it-style">products</span></button>

          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="block-4">
        <div class="col-lg-12">
          <div class="collection-card-custom">
            <h4>Toothbrushes</h4>
            <img src="assets/img/collaction-1.png">
            <button class="btn-collection">View <span class="it-style">products</span></button>

          </div>
        </div>
        <div class="col-lg-12">
          <div class="collection-card-custom">
            <h4>Toothbrushes</h4>
            <img src="assets/img/collaction-1.png">
            <button class="btn-collection">View <span class="it-style">products</span></button>

          </div>
        </div>
      </div>
    </div>

      
     
      <!--2nd row end-->
    </div>
  </div>
</section>


<!-- Footer -->
  <footer class=" footer-area">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="footer-logo">
    <a href="index.html">
    <img src="assets/img/tios.world-logo.png">
    </a>
    </div>
    <div class="footer-about">
    <p>Making a diiference in the world - by<br> helping you switch to one sustaibale<br> order at a time. </p><br> 
    <p>Brining everything sustainable in the <br>world under one roof.</p>
    </div>
    </div>
    <div class="col-lg-2">
    <div class="footer-important-link">
    <h6 class="text-uppercase font-weight-bold">About</h6>
    <ul class="list-unstyled mb-0">
    <li class="mb-2"><a href="#" class="text-muted">Vision</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Team</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Careers</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Blogs</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Supply Chain</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Packaging</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Become a seller with us</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-2">
    <div class="footer-important-link">
    <h6 class="text-uppercase font-weight-bold">Products</h6>
    <ul class="list-unstyled mb-0">
    <li class="mb-2"><a href="#" class="text-muted">Collections</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Categories</a></li>
    <li class="mb-2"><a href="#" class="text-muted">Brands</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-2">
    <div class="footer-important-link">
    <ul class="footer-social-icon">
    <li><a href="#"><img src="./assets/img/insta.png" alt=""> Instagram</a></li>
    <li><a href="#"><img src="./assets/img/whatsapp.png" alt=""> Whatsapp</a></li>
    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li><a href="#"><i class="fa fa-youtube-play"></i> Youtube</a></li>					  
    </ul>
    </div>
    </div>
    </div>
    </div>
    </footer>
   <!-- Copyrights -->
   <section class="copy-right-footer">
   <div class="container">
      <div class="row">
  
	  <div class="footer-copy-right-text col-md-8">
        <p class="text-muted">© 2021 Developed by AanaxagorasR </p>
		</div>
		
		<div class="footer-trems col-md-4">
		 <div class="term ">
		 <h4><a href="#">Terms & Conditions</a></h4>
          <h4><a href="#">Privacy Policy</a></h4> 
		  </div>
	</div>
      </div>
	</div>
	  </section>








<!--All js cdn-->

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/owl.carousel.min.js"></script>



  <script src="assets/js/custom.js"></script>
  
  <script type="text/javascript">
    window.addEventListener("scroll", function(){
      var nav = document.querySelector("nav");
      nav.classList.toggle("sticky", window.scrollY > 0);
    })
  </script>

</body>

</html>




